<!-- RTL Lunch with FT -->
<table dir="rtl" width="100%">
  <tr>
            {{each newsfeed_result}}
        {{if loop_index < 1}}
        {{if loop_vars.newsfeed_result.images and #loop_vars.newsfeed_result.images}}
    <td width="50%" dir="ltr" class="full image" style="padding: 30px 30px 0 30px;" align="center">
      <a href="{{loop_vars.newsfeed_result.url}}" target="_blank"><img src="{{loop_vars.newsfeed_result.images[0].url}}" width="125" style="display: block;" alt="{{loop_vars.newsfeed_result.title}}"></a>
    </td>
    <td width="50%" dir="ltr" class="full" style="padding: 30px 0 0 30px; text-align: center;">
      <table width="100%" style="border-bottom: 1px solid #CEC6B9;">
        <tr>
          <td>
            <h3 style="margin-bottom: 0; font-family: Arial, sans-serif; font-weight: bold; font-size: 14px;"><a href="{{loop_vars.newsfeed_result.url}}" target="_blank" style="color: #2E6E9E; text-decoration: none;">Daniel Hannan</a></h3>
            <h4 style="font-size: 21px; line-height: 35px; font-family: Georgia, serif; font-weight: normal; margin: 5px 0 30px 0;"><a href="{{loop_vars.newsfeed_result.url}}" target="_blank" style="color: #333333; text-decoration: none;">{{loop_vars.newsfeed_result.title}}</a></h4>        
          </td>
        </tr>
      </table>
    </td>
  </tr>
          {{end}}
         {{end}}
         {{end}}
</table>
<!-- END: RTL Lunch with FT -->
